on enable-low-power
    # Disable retention on HTC
    write /sys/module/lpm_levels/system/a53/cpu0/retention/idle_enabled 0
    write /sys/module/lpm_levels/system/a53/cpu1/retention/idle_enabled 0
    write /sys/module/lpm_levels/system/a53/cpu2/retention/idle_enabled 0
    write /sys/module/lpm_levels/system/a53/cpu3/retention/idle_enabled 0
    write /sys/module/lpm_levels/system/a57/cpu4/retention/idle_enabled 0
    write /sys/module/lpm_levels/system/a57/cpu5/retention/idle_enabled 0
    write /sys/module/lpm_levels/system/a57/cpu6/retention/idle_enabled 0
    write /sys/module/lpm_levels/system/a57/cpu7/retention/idle_enabled 0
    write /sys/module/lpm_levels/system/a57/a57-l2-retention/idle_enabled 0
    write /sys/module/lpm_levels/system/a53/a53-l2-retention/idle_enabled 0

    # disable thermal bcl hotplug
    write /sys/module/msm_thermal/core_control/enabled 0
    write /sys/devices/soc.0/qcom,bcl.63/mode "disable"
    write /sys/devices/soc.0/qcom,bcl.63/hotplug_mask 0
    write /sys/devices/soc.0/qcom,bcl.63/hotplug_soc_mask 0
    write /sys/devices/soc.0/qcom,bcl.63/mode "enable"

    # enable LPM
    write /sys/module/lpm_levels/parameters/sleep_disabled 0

    # input boost configuration
    write /sys/module/cpu_boost/parameters/input_boost_freq "0:1344000 1:1344000"
    write /sys/module/cpu_boost/parameters/input_boost_ms 500

    # Setting b.L scheduler parameters
    write /proc/sys/kernel/sched_migration_fixup 1
    write /proc/sys/kernel/sched_small_task 30
    write /proc/sys/kernel/sched_mostly_idle_load 20
    write /proc/sys/kernel/sched_mostly_idle_nr_run 3
    write /proc/sys/kernel/sched_upmigrate 99
    write /proc/sys/kernel/sched_downmigrate 85
    write /proc/sys/kernel/sched_freq_inc_notify 400000
    write /proc/sys/kernel/sched_freq_dec_notify 400000
    write /proc/sys/kernel/sched_boost 0

    # android background processes are set to nice 10. Never schedule these on the a57s.
    write /proc/sys/kernel/sched_upmigrate_min_nice 9

    #enable rps static configuration
    write /sys/class/net/rmnet_ipa0/queues/rx-0/rps_cpus 8
    write /sys/class/devfreq/qcom,cpubw.34/governor "bw_hwmon"
    write /sys/class/devfreq/qcom,mincpubw.35/governor "cpufreq"

    # re-enable thermal and BCL hotplug
    write /sys/module/msm_thermal/core_control/enabled 1
    write /sys/devices/soc.0/qcom,bcl.63/mode "disable"
    write /sys/devices/soc.0/qcom,bcl.63/hotplug_mask 1
    write /sys/devices/soc.0/qcom,bcl.63/hotplug_soc_mask 1
    write /sys/devices/soc.0/qcom,bcl.63/mode "enable"

on class_start:late_start
    trigger enable-low-power

on property:init.svc.recovery=running
    trigger enable-low-power
